#define TP_DEBUG
#define TP_INFO_LOGGING
#define TC_DEBUG
// Definitions for RTAPI
#define RTAPI
#define _GNU_SOURCE
#define USPACE
#define realtime
// Workaround for clang code model to recognize math header
#define __GNUC__ 6
// HAL stuff
#define DYNAMIC_PLCSIZE
#define HAL_SUPPORT
#define OLD_TIMERS_MONOS_SUPPORT
#define GTK2
#define PATH_MAX 4096
#define MODBUS_IO_MASTER
#undef HAVE_CPU_KHZ
#define _38_SPECIAL 1

// Pedantic checks
#define TP_PEDANTIC
#define TP_PEDANTIC_DEBUG
#define PM_CHECK_INPUTS
#define ARC_PEDANTIC
#define PM_PRINT_ERROR
#define PM_DEBUG
#define __USE_GNU
#undef _GLIBCXX_HAVE_ENOTSUP

// Catch
#define CATCH_CONFIG_RUNNER
